#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* topbar  */

.topBar {
  top: 0;
  width: 100%;
  height: f;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}

.logo {
  margin: 10px;
  width: 200px;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.searchBar {
  width: 500px;
}

/* body */

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* filters */

.filters {
  box-sizing: border-box;
  width: 220px;
  padding: 10px;
  padding-top: 72px;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.filter {
  width: 200px;
}

/* results */

.results {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}

.resultList {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  overflow: auto;
  flex-grow: 1;
}
